@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

#grid {
	width: 80%;
	height: 60%;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
}

.node {
	position: relative;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-right: none;
	border-bottom: none;
}

.checked {
	background-color: #fca311;
	animation-name: changeCheckedColor;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

.path {
	background-color: #c111fc;
	animation-name: changePathColor;
	animation-duration: 450ms;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

@keyframes changePathColor {
	0% {
		transform: scale(0);
	}
	33% {
		background-color: #fc11c1;
		transform: scale(0.25);
	}
	66% {
		background-color: #4c11fc;
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
		background-color: #c111fc;
	}
}

@keyframes changeCheckedColor {
	0% {
		transform: scale(0);
	}
	33% {
		background-color: #fc6711;
		transform: scale(0.25);
	}
	66% {
		background-color: #fcdd11;
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
		background-color: #fca311;
	}
}

.droppable-node {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: yellow;
}

#notifications {
	position: absolute;
	right: 2%;
	top: 80px;
	width: 300px;
}

body {
	overflow-x: hidden;
}

.wall {
	background-color: #000000;
	transform: scale(1);
	transition: all 450ms ease 0ms;
}
